@model ReportEsg.Models.Area

@{
    ViewData["Title"] = "Modifica area";
}

<h1>Modifica area</h1>

<h4>Area</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-applicationId ="@ViewBag.ApplicationId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PillarId" class="control-label"></label>
                <select asp-for="PillarId" class="form-control" asp-items="ViewBag.PillarId"></select>
                <span asp-validation-for="PillarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" value="@ViewBag.ApplicationId" readonly/>
                <span asp-validation-for="ApplicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-applicationId ="@ViewBag.ApplicationId">Torna alla lista delle aree</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
