@model ReportEsg.Models.CompanyViewModel

<h4>Registrazione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indirizzo" class="control-label"></label>
                <input asp-for="Indirizzo" class="form-control" />
                <span asp-validation-for="Indirizzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cap" class="control-label"></label>
                <input asp-for="Cap" class="form-control" />
                <span asp-validation-for="Cap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Località" class="control-label"></label>
                <input asp-for="Località" class="form-control" />
                <span asp-validation-for="Località" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartitaIva" class="control-label"></label>
                <input asp-for="PartitaIva" class="form-control" />
                <span asp-validation-for="PartitaIva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationCategoryId" class="control-label"></label>
                <input asp-for="OrganizationCategoryId" class="form-control" />
                <span asp-validation-for="OrganizationCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrati" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}