@model ReportEsg.Models.AdminUser

@{
    ViewData["Title"] = "Elimina account amministratore";
}

<h1>Elimina account amministratore</h1>

<h3>È sicuro di voler eliminare il seguente account?</h3>
<div>
    <h4>Admin User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Username" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista degli admin</a>
    </form>
</div>