<p>Per poter usufruire delle applicazioni a lei dedicate, è prima necessario completare il questionario di anagrafica descrittiva.</p>
<br />
<br />
<br />
<div class="container-fluid p-5" style="background-image: url('https://pixnio.com/free-images/2017/05/31/2017-05-31-10-46-40-900x600.jpg'); ">
    <h2 class="display-4 ">QUESTIONARIO DI ANAGRAFICA DESCRITTIVA</h2>

    <p><span style="color: #000000; font-size: 20px;"></span></p>

    @using (Html.BeginForm("Take", "OrganizationDetailsSurveys", FormMethod.Get))
    {
        <input type="submit" class="btn btn-primary" value="INIZIA IL QUESTIONARIO DI ANAGRAFICA DESCRITTIVA" />
    }

</div>