@model IEnumerable<ReportEsg.Models.Application>

@{
    ViewData["Title"] = "Applicazioni";
}

<h1>Applicazioni</h1>


@{
    if (ViewBag.n > 0)
    {
        foreach (var item in Model)
        {
            <div class="container-fluid p-5">
                <h1 class="display-4 ">@item.Title</h1>

                <p>@item.Description</p>

                @using (Html.BeginForm("Execute", "Applications", FormMethod.Get))
                {
                    <input type="hidden" id="id" name="id" value="@item.Id" />
                    <input type="submit" class="btn btn-primary" value="AVVIA" />
                }

            </div>
        }
    }
    else
    {
        <p>Per il momento, non risultano applicazioni disponibili per la categoria della sua organizzazione.</p>
    }
}


